#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
}
#main-header {
    flex-direction: column;
}
#main-header a {
    width: 100%;
    margin-bottom: 50px;
}
#main-header .logo {
    background-color: white;
}
#main-header section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FAFAFA;
    padding: 50px 0px;
}
#main-header section .perso_desc {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}
#main-header section .perso_desc h1 {
    font-size: 3em;
}
#main-header section .perso_photo {
    width: 25%;
    display: flex;
    justify-content: end;
    margin: 0px 15px;
}
#main-header section .perso_photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#main-header .contact_button {
    margin: auto 15px;
}
#photos,
.contact_button {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    width: 170px;
    height: 70px;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.trier {
    display: flex;
    margin: 0px 100px;
    align-items: center;
    padding-bottom: 50px;
    width: 400px;
}
.trier label {
    margin-right: 10px;
}
.trie {
    font-weight: bold;
    display: flex;
    height: 50px;
}
#selectButton {
    position: relative;
    font-size: 1.25em;
    background-color: #901C1C;
    border: none;
    color: white;
    right: 31px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 30px;
    border-top-right-radius: 5px;
}
.material-icons.arrow {
    color: white;
}
.like-button {
    border: none;
    background-color: transparent;
}
.trie li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.trie li:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.trie li:first-child span {
    color: white;
}
.options-list {
    display: block;
    border-radius: 5px;
    width: 150px;
    background-color: #901C1C;

}
.options-list li {
    display: none;
    font-size: 1.125em;
    line-height: 50px;
    background-color: #901C1C;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 0px 5px;
    border: none;
}
.options-list .d-line::after {
    content: "";
    left: 5%;
    position: absolute;
    width: 90%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}
.options-list li:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
