#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
}
#main-header {
    flex-direction: column;
}
#main-header a {
    width: 100%;
    margin-bottom: 50px;
}
#main-header .logo {
    background-color: white;
}
#main-header section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FAFAFA;
    padding: 50px 0px;
}
#main-header section .perso_desc {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}
#main-header section .perso_desc h1 {
    font-size: 3em;
}
#main-header section .perso_photo {
    width: 25%;
    display: flex;
    justify-content: end;
    margin: 0px 15px;
}
#main-header section .perso_photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#main-header .contact_button {
    margin: auto 15px;
}
#photos,
.contact_button {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    width: 170px;
    height: 70px;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.trier {
    display: flex;
    margin: 0px 100px;
    align-items: center;
    padding-bottom: 50px;
    width: 400px;
}
.trier label {
    margin-right: 10px;
}
.trie {
    font-weight: bold;
    display: flex;
    height: 50px;
}
#selectButton {
    position: relative;
    font-size: 1.25em;
    background-color: #901C1C;
    border: none;
    color: white;
    right: 31px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 30px;
    border-top-right-radius: 5px;
}
.material-icons.arrow {
    color: white;
}
.like-button {
    border: none;
    background-color: transparent;
}
.trie li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.trie li:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.trie li:first-child span {
    color: white;
}
.options-list {
    display: block;
    border-radius: 5px;
    width: 150px;
    background-color: #901C1C;

}
.options-list li {
    display: none;
    font-size: 1.125em;
    line-height: 50px;
    background-color: #901C1C;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 0px 5px;
    border: none;
}
.options-list .d-line::after {
    content: "";
    left: 5%;
    position: absolute;
    width: 90%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}
.options-list li:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    margin: auto;
}
.modal header {
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;

}
.modal header img {
    cursor: pointer;
}
.modal header h2 {
    font-size: 3.125em;
    font-weight: normal;
    text-align: left;
    color: black;
    margin-right: 1.875em;
    max-width: 50%;
}
#btn_close_cont_modal {
    background-color: transparent;
    border: none;
    align-self: baseline;
    cursor: pointer;
}
#btn_close_cont_modal .material-icons {
    font-size: 4em;
    color: white;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
form label {
    color: #312E2E;
    font-size: 2.25em;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
.photo-close {
    display: flex;
    justify-content: center;
    max-width: 56.25em;
    max-height: 37.5em;
}
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
    z-index: 2;
    justify-content: center;
    align-items: center;
}
#lightbox-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
#lightbox-content figcaption {
    align-self: baseline;
    padding-top: 10px;
    font-size: 2em;
    color: #901c1c;
}
#lightbox-content img,
#lightbox-content video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
}
#prevBtn,
#nextBtn {
    cursor: pointer;
    color: #901c1c;
    background-color: transparent;
    border: none;
}
#prevBtn .material-icons,
#nextBtn .material-icons,
#closeBtn .material-icons {
    font-size: 3.5em;
}
#closeBtn {
    position: absolute;
    cursor: pointer;
    color: #901c1c;
    order: 2;
    transform: translate(36em, -2em);
    background-color: transparent;
    border: none;
}
#prevBtn {
    margin-right: 1.25em;
}
#nextBtn {
    margin-left: 1.25em;
}
