@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
* {
    margin: 0px;
    padding: 0px;
}
main {
    margin: 30px 0px;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 100px;
    justify-content: space-between;
}
h1 {
    color: #D3573C;
}
h2 {
    color: #D3573C;
    font-weight: 400;
    font-size: 1.5em;
}
h3 {
    color: #901C1C;
}
p {
    color: #525252;
    font-size: 1.125em;
}
label {
    color: black;
    font-size: 1.125em;
}
span {
    color: #757575;
}
a {
    text-decoration: none;
}
textarea {
    width: 100%;
    height: 12em;
}
.logo {
    height: 50px;
}
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a figure {
    text-align: center;
}

.photographer_section article a figure img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
@media only screen and (max-width: 1070px) {
    .photographer_section {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }
    .photo_section article {
        width: 40% !important;
    }
    .photographer_section .user-card {
        width: 50%;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 700px) {
    .photographer_section {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }

    .photo_section article {
        width: 100% !important;
    }

    .photographer_section .user-card {
        width: 100%;
    }

    header {
        flex-direction: column;
        padding-top: 20px;

    }

    header a {
        text-align: center;
    }

    .logo {
        margin-left: 0px;
    }

    header h1 {
        margin-right: 0px;
    }
}
/*photo section in the single page*/
.photo_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px;
}
.photo_section article {
    width: 30%;
    height: 450px;
    margin-bottom: 100px;
}
.photo_section article figure {
    width: 100%;
    height: 90%;
    cursor: pointer;
}
.photo_section article figure video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.photo_section article figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.photo_section article .photo-desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.photo_section article .photo-desc .material-symbols-outlined {
    cursor: pointer;
}
.likes {
    color: #901C1C;
    font-size: 1.125em;
    font-weight: 800;
}
.material-icons {
    color: #901C1C;
    font-size: 0.8em;
    font-weight: 800;

}
.photo_section article .likes-number {
    display: flex;
}
.likes-number .material-icons {
    cursor: pointer;
}
.photo_section article h2 {
    color: #D3573C;
    font-size: 1em;
}
.click-counter {
    color: black;
    position: fixed;
    bottom: 0px;
    width: 270px;
    height: 60px;
    right: 26px;
    background: rgb(216, 136, 118);
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}
.like_number_heart {
    display: flex;
    justify-content: space-between;
    width: 73px;
    align-items: center;
    font-weight: 600;
}
.click-counter .likesTotal {
    color: black;
    font-weight: 600;
}
.click-counter span {
    color: black;
    font-weight: 600;
}
